<%=simple_form_for(@job,html: {class:'form-horizontal'}) do |f| %>
  <%= f.input :title, label: "Job Title", input_html: { class: "form-control" } %>
  <%= f.input :description, label: "Job Description", input_html: { class: "form-control" } %>
  <%= f.input :company, label: "Your Company", input_html: { class: "form-control" } %>
  <%= f.input :url, label: "Link to Job", input_html: { class: "form-control" } %>
  <br/>
  <%= f.button :submit %>
<% end %>