<div id="jobs">
  <% @jobs.each do |job| %>
    <div class="job">
      <h2>
        <%= link_to job.title, job %>
      </h2>
      <p>
        <%= job.company %>
      </p>
    </div>
  <% end %>
</div>
<% if user_signed_in? && current_user.admin %>
<%= link_to "New Job",new_job_path,class: "btn btn-sm btn-default" %>
<%end%>