/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 
 * {
     box-sizing: border-box;
 }
 
 html {
     height: 100%;
 }
 
 body {
     height: 100%;
   background: -webkit-linear-gradient(90deg, #09BBB8 10%, #09BBB8 90%);
   background:    -moz-linear-gradient(90deg, #09BBB8 10%, #09BBB8 90%);
   background:     -ms-linear-gradient(90deg, #09BBB8 10%, #09BBB8 90%);
   background:      -o-linear-gradient(90deg, #09BBB8 10%, #09BBB8 90%);
   background:         linear-gradient(90deg, #09BBB8 10%, #09BBB8 90%);
   font-family: 'Lato', sans-serif;
 }
 
 .clearfix:before,
 .clearfix:after {
   content: " ";
   display: table;
 }
 
 .clearfix:after {
   clear: both;
 }
 
 .navbar-default {
     background-color: white;
     border-radius: 0;
     height: 80px;
     padding: 15px 0;
     border: none;
 }
 
 .navbar-brand {
     text-transform: uppercase;
     letter-spacing: -1px;
     font-size: 2em;
     font-weight: 300;
     color: #09BBB8  !important;
 }
 
 #jobs {
     .job {
         padding: 1em 0;
         border-bottom: 1px solid rgba(250,250,250, 0.5);
         h2 {
             font-size: 2.5em;
             font-weight: 300;
             margin-bottom: 0;
             color: white;
             a {
                 color: white;
             }
         }
         p {
             color: rgba(250,250,250, 0.5);
         }
     }
 }
 
 #links {
     margin-top: 2em;
 }